@model Associação_Ulbra_Torres.Models.Entidade.Escolas

@{
    ViewBag.Title = "Adicionar Escola";
}

<h2>ESCOLAS <i class="glyphicon glyphicon-home" style="font-size:1em;"></i></h2>
<hr />

<div class="col-md-4">
    <nav class="navbar navbar-default" role="navigation">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-lat">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-lat">
            <div class=" panel-heading">Menu</div>
            <ul class="nav nav-stacked">
                <li><a href="/Escolas/Index">Escolas Cadastradas</a></li>
                <li class="active"><a href="/Escolas/AdicionarEscola">Adicionar Nova</a></li>
                <li><a href="/Escolas/Deletar">Excluir</a></li>
                <li><a href="/Escolas/Editar">Editar</a></li>
                <li><a href="/Escolas/DependentePorEscola/">Pesquisa estudantes por escola</a></li>
            </ul>


        </div><!-- /.navbar-collapse -->
    </nav>

</div><!--/end left column-->

<div class="col-md-8">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Adicionar nova escola</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label class="control-label col-md-2">Nome</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.nomeEscola, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.nomeEscola, "", new { @class = "text-danger" })
                    </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Adicionar" class="btn btn-success" />
                </div>
            </div>
        </div>
    }

</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }


